/* ============= ADVANTAGES =============== */

.advantages-section .container {
  display: flex;
}

.advantages-list {
  margin: 0px;
  padding: 0px 0px;
  display: flex;
}

.advantages-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: $team-background;
  border-radius: 4px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0px;
  text-transform: uppercase;

  color: &title-color;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: $link-color;
}
