body {
  font-family: $main-font;
  font-style: 400;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}
