.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: $title-font-weight;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  margin-right: 93px;
  &-second {
    color: $logo-color;
  }
}
